/*.external{
	font-size: 80px;
	font-family: cursive;
	border: 5px;
	background-color: pink;
}*/

/*#abc{
	font-size: 80px;
	font-family: cursive;
	border:1px solid red;
	background-color: pink;
}*/

/*p{
	font-size: 50px;
	font-family: cursive;
	background-color: green;
}

div{
	height: 50px;
	width: 100px;
	background-color: pink;
}

*{
	font-size: 40px;
	color: yellow;
}

input[type]{
	color: yellow;
}
input[type="number"]{
	color: blue
}
input[type="password"]{
	color: grey
}*/
/*a[href]{
	background-color: orange;
}*/
/*a:hover{
	  color: red;
}
div{
	border: 1px solid black;
	background-color: red;
	height:100px;
	width: 100px
}
div:hover{
	height: 200px;
	width: 200px;
	background-color: green;
	font-size: 50px
	

}*/

/*body{
	background-image: url('b.avif');
	background-repeat: no-repeat;
	background-size: cover;
}*/


































